main{
    font-family: 'Noto Serif', serif;
    padding: 1rem 1rem;
    background-color: #E09DEC;
    color: black;
    display: flex;
    justify-content: space-evenly;
}
main > h1 {
    font-size: 1.25rem;
}